[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiNAMIC.Duo"]
	path = DiNAMIC.Duo
	url = https://github.com/cran/DiNAMIC.Duo
[submodule "MVisAGe"]
	path = MVisAGe
	url = https://github.com/cran/MVisAGe
[submodule "dinamic"]
	path = dinamic
	url = https://github.com/cran/dinamic
